@media only screen and (max-width:1200px){.container{width:90%;}
.logo_1c img{left:0;}
.logo_kontur img{left:0;}
.logo_dalion img{left:0;}
.jacarta_img{left:0;}
.price_content .total_price{top:90%;right:1%;}
.total_price p{font-size:20px;}
.total_price p span.ot{font-size:24px;}
.total_price p span{font-size:30px;}
}
@media only screen and (max-width:1024px){.phone{display:none;}
.submit .phone, .submit .hl{display:block;}
header{position:relative;}
nav.top_menu{background:url("/img/tablet_menu_button.png") no-repeat;right:0;top:-7px;position:absolute;display:block;z-index:10;width:80px;height:80px;cursor:pointer;}
nav.top_menu ul{display:none;}
.mobile_menu{position:fixed;z-index:9;top:0;left:0;background-color:#08233e;}
.mobile_menu ul{position:relative;left:40%;top:5%;}
.mobile_menu ul li{display:block;}
.implementation, #aboutEGAIS, .scheme{display:none;}
header{height:90px;}
.logo{background:url('/img/logo_for_tablets.png') no-repeat;width:100%;height:100%;float:left;margin-left:5px;}
.slidebar{height:700px;}
.slide{overflow:hidden;max-width:992px;height:700px;background:url("/img/tablet_slide.jpg") no-repeat 50% 0;position:relative;}
.submit{position:relative;top:3%;right:0;margin:0 auto;height:600px;border-radius:20px;padding:20px 45px;background-color:rgba(255,255,255,0.8);box-shadow:0 0 15px rgba(0,0,0,0.5);}
.submit h1{width:100%;text-shadow:none;margin:0;}
.submit .phone{background:url('/img/phone.png') no-repeat 53%;font-family:"UbuntuRegular";font-size:28px;float:none;text-align:right;width:100%;}
.submit .egais{margin:0;text-shadow:none;}
#main_form input{display:block;margin-left:0;height:58px;width:100%;margin-bottom:20px;}
#main_form button[type="submit"]{margin-left:0;margin-top:0;width:100%;}
.top_content{background-color:#f4f4f4;box-shadow:none;padding-bottom:0;}
.content{margin-top:-25px;}
.price h2{width:60%;}
.retail_price_list{background-color:#07233e;}
.list_bg{display:none;}
.pricecard_header{position:relative;}
.menu_list_button{display:block;cursor:pointer;position:absolute;top:5px;right:10px;width:40px;float:right;height:40px;background:url("/img/menu_list_button.png") no-repeat;}
.price .tab{display:none;position:static;}
.price .tab.active{display:inline-block;background-color:inherit;}
.price .tab.active a{color:#fff!important;font-size:25px;border-image:none;vertical-align:middle;margin-top:5px;}
.opened_menu{position:absolute;width:100%;z-index:1;background-color:#08233e;}
.opened_menu .tab{display:block!important;}
.price_content{text-align:center;}
.price_content .desc{margin:0 auto;text-align:left;max-width:590px;}
.price_content .desc{margin-top:30px;font-size:18px;}
.price_content .hl{display:none;}
.price_item{text-align:left;margin:0 auto;}
.price_item p{padding-left:0;max-width:540px;color:#555555;}
.price_item p span.price{position:static;}
.jacarta_img, .logo_kontur img, .logo_1c img, .logo_dalion img, .logo_shtrih{margin:0 auto;position:static;}
.logo_shtrih{height:100%;}
.logo_kontur{height:100%;}
.price_item ul{margin-left:35px;}
.price_content .total_price{top:94%;}
.equip_item{margin-bottom:20px;}
.row .col.offset-l1.partner_item{margin-left:0!important;}
}
@media only screen and (max-width:768px){.logo{background:url('/img/logo_for_tablets.png') 0 33% no-repeat;background-size:70%;}
.top_content{padding-bottom:0;}
.submit .phone{background:url('/img/phone.png') no-repeat 50%;}
#main_form h6{text-align:center;margin-left:0;}
.price_content{padding:0 15px;}
.partner_item img{height:55px;}
.price h2, .add_equip h2{font-size:35px;}
.retail_price_list{text-align:center;}
.jacarta_img, .logo_kontur, .logo_1c, .logo_dalion, .logo_shtrih{display:none;}
.price_item ul{display:none;}
.price .total_price{top:90%;}
.top_menu_opened ul{top:15%;}
.jacarta_desc{min-height:8em;}
.dop_item img{width:70%;}
.dop_item .total_price p{left:inherit;right:4%;}
.add_equip_header,.equip_item,.our_partners{display:none;}
.reviews img{margin:0 0 30px 0;float:none;}
#rc-connect,#rc-phone-widget-style{display:none!important;}
}
@media only screen and (max-width:600px){.submit{height:600px;}
.submit .phone{background:url('/img/phone.png') no-repeat 47%;}
}
@media only screen and (max-width:520px){.submit .phone{background:url('/img/phone.png') no-repeat 37%;}
}
@media only screen and (max-width:480px){.submit .phone{background:url('/img/phone.png') no-repeat 15%;}
}
@media only screen and (max-width:380px){.submit .phone{background:url('/img/phone.png') no-repeat 10%;}
}
@media only screen and (min-width:320px){}
@media only screen and (min-width:480px){}
@media only screen and (min-width:768px){}
@media only screen and (min-width:992px){}
@media only screen and (min-width:1200px){.price_content .total_price p{margin-right:15px;float:right;}
.container{width:90%;}
}