/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container{
        width: 90%;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .phone{
        display: none;
    }
    header{
        position: relative;
    }
    nav.top_menu{
        background: url("/img/mobile_menu_button.png") no-repeat;
        right: 1%;
        top: 3%;
        position: fixed;
        display: block;
        z-index: 10;
        width: 50px;
        cursor: pointer;
    }
    nav.top_menu ul{
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .price_content .total_price p {
        margin-right: 15px;
        float: right;
    }
}