body{
    font-family: "UbuntuRegular";
    height: 100%;
}
header{
    margin-top: 20px;
}
.logo{
    background: url('/img/logo.png') no-repeat;
    width: 234px;
    height: 35px;
    float: left;
    margin-left: 5px;
}
.phone{
    background: url('/img/phone.png') no-repeat 10%;
    font-family: "UbuntuRegular";
    font-size: 28px;
    float: right;
    text-align: right;
    width: 270px;
}
.phone span{
    color: #ff8004;
}
.menu_logo{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 15px;
}
.menu_logo:hover{
}
.top_menu.fixed {
    position:fixed;
    top:0; left:0;
    z-index: 6;
}
.top_menu.fixed li{
    max-width: 15%;
}
.top_menu{
    background-color: #fff;
    box-shadow: none;
    text-align: center;
    font-size: 1vw;
}
.top_menu li{
    text-align: center;
    padding: 0!important;
    margin: 0;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
}
.top_menu a{
    color: #748290;
    white-space: nowrap;
    font-size: 0.9em;
    padding: 0;

}
.top_menu a:hover{
    color: #000;
}
.top_menu li.active{
    border-bottom: 3px solid #08233e;
}
.slidebar{
    overflow: hidden;

}
.slide{
    overflow: hidden;
    max-width: 1920px;
    height: 768px;
    background: url("/img/slide.jpg") no-repeat 50%;
    margin: -20px auto 0;
    position: relative;
}
.submit{
    position: absolute;
    top: 7%;
    right: 11%;
    width: 600px;
    height: 445px;
    background-color: rgba(255,255,255,0.5);
}
.submit h1{
    color: #383838;
    font-size: 2.5em;
    margin: 35px 0 0 30px;
    text-shadow: 1px 2px 0 #fff;
}
.submit .egais{
    display: block;
    color: #08233e;
    font-size: 6em;
    margin: -15px 0 15px 25px;
    text-shadow: 1px 2px 0 #fff;
}
#main_form input {
    margin-left: 35px;
    vertical-align: middle;
    padding:8px 10px;
    border: 1px solid #999999;
    border-radius: 3px;
}
#main_form button[type="submit"]{
    margin-left: 35px;
    vertical-align: middle;
    padding:8px 10px;
    border-radius: 3px;
    margin-top: 25px;
    width: 370px;
    height: 60px;
    border: none;
    color: #08233e;font-size: 20px;
    background-color: #ffc000;
    box-shadow: 0 5px 0 #cb8500;
}
#main_form h6{
    margin-left: 35px;
    margin-top: 25px;
    font-size: 14px;
    color: #08233e;
}
button[type="submit"]:hover{
    background-color: #ffc000;
}

.header{
    text-align: center;
}
.header h1, .header h2{
    color: #08233e;
}
.header h2 {
    font-size: 30px;
}
.implementation .pic_bg{
    background: url('/img/pic_bg.png') 50% no-repeat;
    width: 228px;
    height: 228px;
    margin: 0 auto;
    transition: background-image 0.7s 0.1s;
}
.implementation .pic_bg:hover{
    cursor: pointer;
    background-image: url('/img/pic_bg_hovered.png');
}
.implementation .pic_bg img {
    position: relative;
    top: 87px;
}
.implementation p{
    font-size: 18px;
}
.implementation button{
    vertical-align: middle;
    padding:8px 10px;
    border-radius: 3px;
    margin-top: 25px;
    width: 230px;
    height: 60px;
    border: none;
    color: #08233e;font-size: 20px;
    background-color: #fbd348;
    box-shadow: 0 5px 0 #cb8500;
}
.implementation button:hover{
    background-color: #ffc000;
}
.top_content{
    background-color: #fff;
    padding-bottom: 80px;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0 6px 17px rgba(230,198,198,1);
}
.content{
    margin-top: -20px;
    background-color: #f4f4f4;
    height: 100%;
}
.what_is h3{
    font-size: 22px;
    color: #08233e;
}
.what_is p, .what_is li{
    font-size: 16px;
}
.what_is ul{
    list-style-image: url('/img/list_style.png');
    margin-left: 20px;
}
.what_is .la{
    display: inline;
    float: left;
    margin: 0;
}
.what_is .lf{
    text-indent: 10px;
}
.quoteblock{
    background: url("/img/quote.png")no-repeat;
    height: 180px;
    padding-top: 50px;
}
.quote{
    background-color: #eaf8ff;
    width: 90%;
    margin: 0 auto;
    height: 95px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    vertical-align: middle;
}
.quote h3{
    font-size: 1.4vw;
    margin-top: 30px;
    color: #08233e;
    display: inline-block;
}
.scheme{
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
    padding-bottom: 30px;
}
.scheme h2{
    padding-top: 45px;
    margin-bottom: 0;
    font-size: 36px;
}
.scheme img{
    width: 100%;
    padding: 0 10px;
}
.price h2, .add_equip h2 {
    color: #08233e;
    font-size: 42px;
    padding-top: 80px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.price .tab{
    display: inline-block;
}
.price .tab{
    height: 51px;
    width: 330px;
    text-align: center;
}
.price .tab a{
    margin-top: 10px;
    font-size: 15px;
    display: inline-block;
    color: #272727;
    border-image: url("/img/dotted.png") 3 repeat ;
    border-width: 0 0 3px 0;
}
.price .tab.active{
    background: url("/img/active_list_bg.png")no-repeat;
}
.price .tab.utab.active{
    background: url("/img/utab_bg.png")no-repeat;
    width: 450px;
}
#wholesale .tab a{
    margin-top: 10px;
    margin-left: -20px;
}
.to_standart{
    text-align: left!important;
    padding-left: 10px!important;
}
.price .tab.active a{
    cursor: default;
    color: #07233e!important;
}
.price ul{
    margin-bottom: 0;
}
.retail_price_list{
    background: url("/img/list_bg.png") no-repeat;
}
.price_content{
    background-color: #fff;
    width: 100%;
    box-shadow: 0 4px 11px rgba(0,0,0,0.2);
    position: relative;
}
.price_content .row{
    padding-top: 25px;
}
.price_content .photo{
    overflow: hidden;
    text-align: center;
}
.price_content .photo img {
    max-width: 130px;
}
.price_content .standart{
    display: none;
}
.desc p{
    margin-top: 0;
    font-size: 18px;
    max-width: 593px;
}
.price_item p{
    padding-left: 20px;
    font-size: 15px;
}
.price_item ul{
    list-style-image: url('/img/list_style.png');
    margin-left: 90px;
}
.price_item p span.name{
    font-family: "UbuntuBold";
    color: #07233e;
}
.price_item p span.price{
    color: #dea221;
    float: right;
    margin-top: -5px;
}
.oneC{
    position: absolute;
    margin-top: 5px;
}
.jacarta_img {
    position: relative;
    padding: 5px;
    border: 1px solid #D0D0D0;
    top: 62px;
    left: 25px;
    max-width: 195px;
}
.price_content .total_price{
    height: 100%;
    position: absolute;
    top: 85%;
    right: 0;
}
.total_price p{
    font-family: "UbuntuLight";
    font-size: 24px;
    color: #999999;
}
.total_price p span{
    font-size: 40px;
    color: #07233e;
}
.total_price p span.ot{
    font-size: 28px;
}
.total_price p span i{
    font-size: 24px;
}

p.total_price_desc{
    color: #999999;
    font-size: 13px;
    margin-top: -30px;
}
.hl{
    background: url("/img/hl.png");
    height: 2px;
    margin-bottom: 20px;
}
.econom, .standart{
    padding-top: 20px;
    min-height: 650px;
}
.econom .offset-l3, .standart .offset-l3{
    margin-left: 25%!important;
}
.price_footer p{
    font-size: 14px;
}
.kom_pred{
    position: absolute;
    right: 0;
    bottom: -60px;
    width: 250px;
    height: 60px;
    background-color: #fbd348;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.kom_pred a{
    color: #07233e;
    font-size: 16px;
    margin-top: 12px;
    background: url("/img/download_button.png")no-repeat 3% 50%;
    display: block;
    line-height: 1;
    padding-left: 50px;
    text-decoration: underline;
}
.equip_item{
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    position: relative;
    color: #07233e;
    padding: 15px;
    font-family: "UbuntuBold";
    font-size: 15px;
}
.equip_item ul{
    list-style-image: url("/img/add_equip_list.png");
    position: relative;
    top: 20px;
    left: 0.7em;
}
.equip_item h4{
    position: relative;
    margin: 0;
    top: 20px;
    font-family: "UbuntuRegular";
    font-size: 24px;
}
.equip_item h4 span{
    font-family: "UbuntuBold";
}
.equip_item p{
    position: relative;
    z-index: 1;
    margin-bottom: 65px;
    top: 30px;
}
.equip_item .img_border{
    position: relative;
    float: right;
    bottom: 15px;
    right: 15px;
    text-align: center;
}
.dop_item{
    font-family: "UbuntuLight";
    min-height: 357px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.dop_item img{
    width: 100%;
    padding: 0 10px;
}
.scaner{
    width: 185px!important;
}
.dop_item h6{
    font-size: 18px;
    padding-top: 20px;
}
.dop_item .total_price p{
    position: absolute;
    bottom: 20px;
    left: 4%;
    font-size: 17px;
}
.dop_item .total_price p span{
    font-size: 30px;
}
.dop_item .total_price p span i{
    font-size: 23px;
}
.dop_item .total_price p.total_price_desc{
    font-size: 13px;
    position: absolute;
    bottom: 0;
}
footer.contacts{
    text-align: center;
    color: #08233e;
}
footer.contacts h4{
    color: #07233e;
    font-size: 30px;
    font-family: "UbuntuLight";
    margin-bottom: 150px;
}
footer.contacts .phone_footer{
    font-size: 70px;
}
footer.contacts .phone_footer span{
    color: #ff8004;
}
footer.contacts .email{
    font-family: "UbuntuLight";
    font-size: 40px;
    padding-bottom: 18px;
    margin-bottom: 0;
}
footer.footer_form{
    background: url("/img/footer_form_bg.jpg");
    width: 100%;
    height: 500px;
}
#footer_form{
    text-align: center;
    color: #ffffff;
}
#footer_form h4{
    padding-top: 25px;
    line-height: 1.2;
    font-family: "UbuntuLight";
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}
#footer_form h4 span{
    font-size: 45px;
}
#footer_form p{
    margin-top: 10px;
    text-align: center;
}
#footer_form input{
    color: #000000;
    height: 50px;
    width: 300px;
    padding: 13px 15px 12px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    outline: 0;
    z-index: 2;
    text-align: left;
}
#footer_form textarea{
    resize: none;
    width: 300px;
    background-color: #fff;
    height: 150px;
    color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    outline: 0;
    z-index: 2;
    text-align: left;
    padding: 13px 15px 12px;
    margin-bottom: 5px;
}
#footer_form button[type="submit"]{
    vertical-align: middle;
    padding:8px 10px;
    border-radius: 3px;
    width: 300px;
    height: 60px;
    border: none;
    color: #08233e;font-size: 20px;
    background-color: #fbd348;
    margin-top: 0;
    box-shadow: 0 5px 0 #cb8500;
    margin-bottom: 15px;
}
#footer_form a{
    color: #ffffff;
    text-decoration: underline;
}
#confidencial_police{
    max-width: 600px;
}
#confidencial_police h4{
    text-align: center;
}