body{
    font-family: "UbuntuRegular";
    height: 100%;
}
header {
    margin-top: 10px;
}
.logo{
    background: url('/img/logo.png') no-repeat;
    width: 234px;
    height: 35px;
    float: left;
    margin-left: 5px;
}
.phone{
    background: url('/img/phone.png') no-repeat 10%;
    font-family: "UbuntuRegular";
    font-size: 28px;
    float: right;
    text-align: right;
    width: 270px;
}
.phone span{
    color: #ff8004;
}
.menu_logo{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 15px;
}
.menu_logo:hover{
}
.top_menu_row{
    margin-bottom: 0;
}
.top_menu.fixed {
    position:fixed;
    top:0; left:0;
    border-bottom: 1px solid #ccc;
    z-index: 6;
}
.top_menu.fixed li{
    max-width: 15%;
}
.top_menu{
    background-color: #fff;
    box-shadow: none;
    text-align: center;
    font-size: 1vw;
}
.top_menu li{
    text-align: center;
    padding: 0!important;
    margin: 0;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
}
.top_menu a{
    color: #748290;
    white-space: nowrap;
    padding: 0;
}
.top_menu a:hover{
    color: #000;
}
.top_menu li.active{
    border-bottom: 3px solid #08233e;
}
.top_menu_opened {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    background-color: #08233e;
    width: 100%;
    height: 100%;
}
.top_menu_opened ul{
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 6%;
    font-size: 5.3vw;
}
.top_menu_opened li{
    border-bottom: 2px dotted #FFFFFF;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}
.top_menu_opened a{
    color: #fff;
}
.slidebar{
    overflow: hidden;
    position: relative;
    height: 768px;
}
.slide{
    overflow: hidden;
    max-width: 1920px;
    width: 100%;
    height: 768px;
    background: url("/img/slide.jpg") no-repeat 50% 0;
    position: absolute;
}
.submit{
    position: absolute;
    top: 7%;
    right: 11%;
    max-width: 600px;
    height: 470px;
    background-color: rgba(255,255,255,0.5);
}
.submit .submit_header{
    color: #383838;
    width: 280px;
    font-size: 2.5em;
    margin: 35px 0 0 30px;
    padding: 0;
    line-height: 110%;
    text-shadow: 1px 2px 0 #fff;
}
.submit .phone, .submit .hl{
    display: none;
}
.submit .egais{
    display: block;
    color: #08233e;
    font-size: 6em;
    margin: -15px 0 15px 25px;
    text-shadow: 1px 2px 0 #fff;
}
#main_form input {
    margin-left: 35px;
    vertical-align: middle;
    padding:8px 10px;
    border: 1px solid #999999;
    border-radius: 3px;
    height: 45px;
    width: 240px;
    font-size: 23px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#main_form button[type="submit"]{
    margin-left: 35px;
    vertical-align: middle;
    padding:8px 10px;
    border-radius: 10px;
    margin-top: 25px;
    width: 370px;
    height: 60px;
    border: none;
    color: #08233e;
    font-size: 20px;
    background-color: #ffc000;
    box-shadow: 0 5px 0 #cb8500;
}
#main_form h6{
    margin-left: 35px;
    margin-top: 25px;
    font-size: 14px;
    color: #08233e;
}
button[type="submit"]:hover{
    background-color: #ffc000;
}

.header{
    text-align: center;
}
#aboutEGAIS h2,.header h1, .header h2{
    color: #08233e;
    font-family: "UbuntuLight";
}
.header h1{
    font-size: 48px;
}
.header h1 span, .header h2 span{
    font-family: "UbuntuRegular";
    font-weight: 800;
}
.header h2 {
    font-size: 30px;
    font-family: "UbuntuRegular";
}
.implementation .row{
    margin-bottom: 0;
}
.implementation .pic_bg{
    background: url('/img/pic_bg.png') 50% no-repeat;
    width: 228px;
    height: 200px;
    margin: 0 auto;
    transition: background-image 0.7s 0.1s;
}
.implementation .pic_bg:hover{
    cursor: pointer;
    background-image: url('/img/pic_bg_hovered.png');
}
.implementation .pic_bg img {
    position: relative;
    top: 75px;
}
.implementation p{
    font-size: 18px;
}
.implementation a{
    width: 100%;
    height: 60px;
    padding-top: 7px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 0 11px rgba(0,0,0,0.3);
}
.implementation button{
    vertical-align: middle;
    padding:8px 10px;
    border-radius: 3px;
    margin-top: 25px;
    width: 230px;
    height: 60px;
    border: none;
    color: #08233e;font-size: 20px;
    background-color: #fbd348;
    box-shadow: 0 5px 0 #cb8500;
}
.implementation button:hover{
    background-color: #ffc000;
}
#aboutEGAIS h2{
    padding-top: 40px;
    font-size: 48px;
}
.top_content{
    background-color: #fff;
    padding-bottom: 80px;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0 6px 17px rgba(230,198,198,1);
}
.content{
    margin-top: -20px;
    background-color: #f4f4f4;
    height: 100%;
}
.what_is h3{
    font-size: 22px;
    color: #08233e;
}
.what_is p, .what_is li{
    font-size: 16px;
    line-height: 1.8;
}
.what_is h3{
    font-family: "UbuntuBold";
}
.what_is ul{
    list-style-image: url('/img/list_style.png');
    margin-left: 20px;
}
.what_is .la{
    display: inline;
    float: left;
    margin: 0;
}
.what_is .lf{
    text-indent: 10px;
}
.quoteblock{
    background: url("/img/quote.png")no-repeat;
    height: 180px;
    padding-top: 50px;
}
.quote{
    background-color: #eaf8ff;
    width: 90%;
    margin: 0 auto;
    height: 95px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    vertical-align: middle;
}
.quote h3{
    font-size: 1.2vw;
    margin-top: 10px;
    line-height: 1.5;
    color: #08233e;
    display: inline-block;
}
.scheme{
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
    padding-bottom: 30px;
}
.scheme h2{
    padding-top: 45px;
    margin-bottom: 0;
    font-size: 36px;
}
.scheme p{
    color: #555555;
    font-size: 16px;
    margin-top: -15px;
}
.scheme img{
    width: 100%;
    padding: 0 120px;
}
.container.price_container {
    width: 90%;
}
.price h2, .add_equip h2 {
    color: #08233e;
    font-size: 42px;
    padding-top: 60px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.pricecard{
    display: none;
}
.pricecard.active{
    display: block;
}
.price .tab{
    display: inline-block;
    height: 51px;
    min-width: 30.5%;
    position: relative;
    bottom: 25px;
    text-align: center;
    background-color: #d6d6d6;
}
.opened_menu{
    display: none;
}
.opened_menu ul{
    margin-top: 0;
}
.list_bg{
    width: 4.5%;
    height: 51px;
    display: inline-block;
    margin: 0 -5px;
}
.list_bg.near_active{
    background: url("/img/list_bg.png") no-repeat;
}
.list_bg.not_active{
    background: url("/img/list_bg_not_active.png") no-repeat;
}
.list_bg.active{
    background: url("/img/list_bg_active.png") no-repeat;
}
.menu_list_button{
    display: none;
}
.price .tab a{
    margin-top: 10px;
    font-size: 15px;
    display: inline-block;
    color: #272727;
    border-image: url("/img/dotted.png") 3 repeat ;
    border-width: 0 0 3px 0;
}
.price .tab.active{
    background-color: #fff;
}
.price .tab.active a{
    cursor: default;
    color: #07233e!important;
}

li.tab.utab{
    width: 40%;
}
.retail_price_list{
    margin-bottom: 0;
    height: 51px;
    background-color: #d6d6d6;
    white-space: nowrap;
}
.pricecard_header{
    height: 51px;
}
.price_content{
    background-color: #fff;
    width: 100%;
    box-shadow: 0 10px 11px rgba(0,0,0,0.1);
    position: relative;
}
.price_content .photo{
    overflow: hidden;
    text-align: center;
}
.price_content .photo img {
    max-width: 130px;
    margin-top: 20px;
}
.desc p{
    margin-top: 0;
    font-size: 18px;
    max-width: 593px;
}
.price_item{
    height: 100%;
    max-width: 570px;
}
.price_item p{
    position: relative;
    height: 100%;
    padding-left: 20px;
    font-size: 15px;
    margin-bottom: 0;
}
.price_item ul{
    list-style-image: url('/img/list_style.png');
    margin-left: 90px;
}
.price_item p span.name{
    font-family: "UbuntuBold";
    color: #07233e;
}
.price_item p span.price{
    color: #dea221;
    position: absolute;
    bottom: 0;
    left: 87%;
}
.jacarta_desc{
    height: 10em;
}
.jacarta_img {
    position: relative;
    padding: 5px;
    border: 1px solid #D0D0D0;
    left: 17%;
    max-width: 195px;
}
.logo_kontur, .logo_1c, .logo_dalion, .logo_shtrih{
    position: relative;
    height: 10em;
}
.logo_1c img{
    padding: 10px 5px;
    border: 1px solid #D0D0D0;
    left: 17%;
    max-width: 195px;
    position: absolute;
    top: 10px;
}
.logo_kontur img{
    padding: 24px 5px;
    border: 1px solid #D0D0D0;
    left: 17%;
    max-width: 195px;
    position: absolute;
    bottom: -6px;
}
.logo_dalion img {
    padding: 58px 5px;
    border: 1px solid #D0D0D0;
    left: 17%;
    max-width: 195px;
    position: absolute;
    top: 52%;
}
.logo_shtrih{
    position: relative;
    padding: 5px;
    border: 1px solid #D0D0D0;
    top: 70px;
    left: 17%;
    max-width: 195px;
    height: 11em;
}
.price_content .total_price{
    position: absolute;
    top: 85%;
    right: 0;
}
.total_price p{
    font-family: "UbuntuLight";
    font-size: 24px;
    color: #999999;
}
.total_price p span{
    font-size: 40px;
    color: #07233e;
}
.total_price p span.ot{
    font-size: 28px;
}
.total_price p span i{
    font-size: 24px;
}

p.total_price_desc{
    color: #999999;
    font-size: 13px;
    margin-top: -30px;
}
.hl{
    background: url("/img/hl.png");
    height: 2px;
    margin-bottom: 20px;
}
.econom, .standart, .shtrih{
    padding-top: 20px;
    min-height: 650px;
}
.econom .offset-l3, .standart .offset-l3{
    margin-left: 25%!important;
}
.price_footer p{
    font-size: 14px;
}
.kom_pred{
    position: absolute;
    right: 0;
    bottom: -60px;
    width: 250px;
    height: 60px;
    background-color: #fbd348;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 11px rgba(0,0,0,0.1);
}
.kom_pred a{
    color: #07233e;
    font-size: 16px;
    margin-top: 12px;
    background: url("/img/download_button.png")no-repeat 3% 50%;
    display: block;
    line-height: 1;
    padding-left: 50px;
    text-decoration: underline;
}
.equip_item{
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    position: relative;
    color: #07233e;
    padding: 15px;
    min-height: 375px;
    font-family: "UbuntuRegular";
    font-size: 15px;
}
p.desc {
    padding-top: 30px;
}
.equip_item.advanced {
    min-height: 450px;
}
.equip_item ul{
    list-style-image: url("/img/add_equip_list.png");
    position: relative;
    top: 20px;
    left: 0.7em;
}
.equip_item h4{
    position: relative;
    margin: 0;
    top: 20px;
    font-family: "UbuntuRegular";
    font-size: 24px;
}
.equip_item h4 span{
    font-family: "UbuntuBold";
}
.equip_item .total_price p {
    position: absolute;
    bottom: 0;
}
.equip_item .img_border {
    position: absolute;
    float: right;
    bottom: 35px;
    right: 25px;
    text-align: center;
    max-height: 150px;
}
.dop_item{
    font-family: "UbuntuLight";
    min-height: 357px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.dop_item img{
    width: 100%;
    padding: 0 10px;
}
.scaner{
    width: 200px!important;
}
.dop_item h6{
    font-size: 18px;
    padding-top: 20px;
}
.dop_item .total_price p{
    position: absolute;
    bottom: 20px;
    left: 4%;
    font-size: 17px;
}
.dop_item .total_price p span{
    font-size: 30px;
}
.dop_item .total_price p span i{
    font-size: 23px;
}
.dop_item .total_price p.total_price_desc{
    font-size: 13px;
    position: absolute;
    bottom: 0;
}
.reviews{
    margin-top: 150px;
}
.reviews img {
    float: right;
    margin-top: 35px;
    margin-right: 50px;
}
.review{
    border: 1px solid #d1d5d6;
    padding: 15px 30px!important;
    text-align: left;
}
.review p{
    font-size: 14px;
    line-height: 19px;
    color: #616466;
}
.review p span{
    font-weight: 700;
}
.author{
    float: right;
}
.author h5{
    margin-left: 25%;
}
.our_partners, .reviews{
    margin: 90px auto;
    text-align: center;
}
.our_partners .row{
    margin-bottom: 30px;
}
.our_partners h2, .reviews h2{
    color: #08233e;
    font-size: 42px;
    margin-left: 10px;
    margin-bottom: 70px;
    font-family: "UbuntuLight";
}
.our_partners h2 span,.reviews h2 span{
    font-family: "UbuntuBold";
}
.row .col.offset-l1.partner_item {
    margin-left: 8.33333%!important;
}
.partner_item img{
    height: 76px;
}
footer.contacts{
    text-align: center;
    color: #08233e;
}
footer.contacts h4{
    color: #07233e;
    font-size: 30px;
    font-family: "UbuntuLight";
    margin-bottom: 80px;
}
footer.contacts .phone_footer{
    font-size: 70px;
}
footer.contacts .phone_footer span{
    color: #ff8004;
}
footer.contacts .email{
    font-family: "UbuntuBold";
    font-size: 40px;
    padding-bottom: 30px;
    margin-bottom: 0;
}
footer.footer_form{
    background: url("/img/footer_form_bg.jpg");
    width: 100%;
    height: 500px;
}
#footer_form{
    text-align: center;
    color: #ffffff;
}
#footer_form h4{
    padding-top: 25px;
    line-height: 1.2;
    font-family: "UbuntuLight";
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}
#footer_form h4 span{
    font-size: 45px;
}
#footer_form p{
    margin-top: 10px;
    text-align: center;
}
#footer_form input{
    color: #000000;
    height: 50px;
    width: 300px;
    padding: 13px 15px 12px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    outline: 0;
    z-index: 2;
    text-align: left;
}
#footer_form textarea{
    resize: none;
    width: 300px;
    background-color: #fff;
    height: 150px;
    color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    outline: 0;
    z-index: 2;
    text-align: left;
    padding: 13px 15px 12px;
    margin-bottom: 5px;
}
#footer_form button[type="submit"]{
    vertical-align: middle;
    padding:8px 10px;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    border: none;
    color: #08233e;font-size: 20px;
    background-color: #fbc300;
    margin-top: 0;
    box-shadow: 0 5px 0 #cb8500;
    margin-bottom: 15px;
}
#footer_form a{
    color: #ffffff;
    text-decoration: underline;
}
#confidencial_police{
    max-width: 600px;
}
#confidencial_police h4{
    text-align: center;
}
.pop-text p{
    padding: 0 55px;
}